/* app.css */

.app-container {
  width: 100%;
  padding: 20px;
  font-family: Arial, sans-serif;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.add-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}

.post-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.post-title {
  font-weight: bold;
}

.post-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background-color: #f44336;
  color: white;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f;
}


.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Center the loading message vertically */
}

.loading-message {
  font-size: 24px;
  color: #333; /* Text color */
  font-weight: bold;
  background-color: #fff; /* Background color */
  padding: 10px 20px; /* Add some padding */
  border: 2px solid #ccc; /* Add a border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}
